{% extends 'store/main.html' %}
{% load static %}
{% block content %}
	<!-- breadcrumbs -->
	<div class="breadcrumb_dress">
		<div class="container">
			<ul>
				<li><a href="{% url 'home' %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a> <i>/</i></li>
				<li>Legal</li>
			</ul>
		</div>
	</div>
	<!-- //breadcrumbs --> 
	<div class="about">
		<div class="container">	
			<div class="w3ls_about_grids">
				<div class="col-md-12 w3ls_about_grid_left">
                    <h2>LEGALES</h2>
                    <p></p>
                    <h4>TÉRMINOS Y CONDICIONES</h4>
                    
					<p style="text-align:justify;"></p>
                      
                    <br> 
                        
					<div class="col-xs-2 w3ls_about_grid_left1">
						<span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
					</div>
					<div class="col-xs-10 w3ls_about_grid_left2">
                        <h4>1. DEVOLUCIONES O CAMBIOS.</h4>
						<p style="text-align:justify;">Si no se encuentra satisfecho con su pedido, usted cuenta con 7 días calendario luego de haber realizado la compra para solicitar la devolución o cambio.
                            El acuerdo para la devolución o cambio se realizará preferentemente mediante vía telefonica o virtual. La devolución será válida siempre que, tanto las monturas como las lunas, se encuentren en  perfecto estado y no presenten rayaduras, maltrato u otro tipo de daño.
                            En Lima, la verificación del buen estado de las monturas y/o lunas, se realizará en nuestra tienda ubicada en Camaná 560 - Cercado de Lima. En provincias, dicha verificación será realizada por nuestros representates de venta, previa coordinación vía telefónica o medios virtuales.</p>
                        <p style="text-align:justify;">Luego de verificado el estado del producto, Óptica IC cuenta con hasta 7 días hábiles para hacer la devolución o cambio.  La política de devoluciones aplica solo si se escoge la misma medida con la que se hizo la primera orden y es aplicable solo una vez por compra. La política de DEVOLUCIONES Y CAMBIOS aplica únicamente para monturas y lunas, no aplica para otros productos.</p>    
					</div>
					<div class="clearfix"> </div>
					<div class="col-xs-2 w3ls_about_grid_left1">
						<span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
					</div>
					<div class="col-xs-10 w3ls_about_grid_left2">
                        <h4>2. GARANTIAS</h4>
						<p style="text-align:justify;">En Lunas: Garantía de 6 meses por defecto de fabricación. La garantía no cubre rayaduras ocacionadas por el usuario.</p>
                        <p style="text-align:justify;">En Monturas: Garantía de 1 año por defecto de fabricación. La garantía no cubre rupturas ocacionadas por el usuario</p>
                        <p style="text-align:justify;">En Medidas de la vista: Garantía de 3 meses por medida de vista que realizamos. No aplica en caso el cliente opte por su propia receta</p>


                    </div>
					<div class="clearfix"> </div>
				</div>


				<div class="clearfix"> </div>
			</div>
		</div>
	</div>

{% endblock content %}